h1
    {
        color:rgb(20, 8, 19);
    }

    .menu
        {
            background-color:palevioletred;
            padding-top:20px;
            padding-bottom:20px;
        }
    
        a
            {
                color:black;
                margin-left:10px;
                text-decoration: none;
                font-family: 'Roboto Slab', serif;
            }

table, tr, td, th
        {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

    th 
        {
            background-color: palevioletred;
            color: black;
        }

    tr
        {
            background-color: beige;
        }

    tr:nth-child(even)
        {
            background-color: bisque;
        }

    tr:hover
        {
            background-color:gold  
        }
        u1{

            /*list-style-type: cicrle;*/
            list-style-type: square;
        }
    
        o1{
    
     /*list-style-type: lower-alpha ;*/
     list-style-type: georgian;
    }
    .textbg
    {
    background-color: palevioletred;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    }
    
